body {
  background-image: linear-gradient(270deg, #d8e2dc, #ada7c9);
  /* background-color: hsl(47, 47%, 96%); */
  color: #0a1520;
}

p {
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: '20';
  text-align: left;
  padding-left: 2vw;
  padding-right: 2vw;
}
.bearContainer {
  display: flex;
  align-items: flex-end
}
.bear {
  max-width: 200px;
}

.main {
  display: flex;
  flex-direction: row;
  font-family: 'Zen Kurenaido', sans-serif
}

#title {
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 40px;
  background: radial-gradient(150px 30px, #d7b9d5 0%, rgba(80, 80, 80, 0) );
}

.home {
  text-align: center;
  flex-basis: 75%;
}

.nav {
  text-align: left;
  flex-basis: 25%
}

.title img {
  height: 10rem;
  width: auto;
  padding-right: 30px;
}

.main div {
  margin: 0px 10px 0px 10px;
}

a {
  text-decoration-line: none;
}
